:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --text-dark-theme-color: #ffffff;
  --text-white-theme-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --address-dark-theme-color: rgba(255, 255, 255, 0.6);
}
